n8n/fluxo_relatorios.json
{
  "name": "Relatórios aos Laboratórios",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 6 * * *"
            }
          ]
        }
      },
      "id": "Schedule 06:30",
      "name": "Schedule 06:30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════════════\n// agenda_relatorios.js — Code node do n8n (o \"cérebro\" da agenda)\n// ──────────────────────────────────────────────────────────────\n// Roda no início do workflow (depois do Schedule Trigger). Decide\n// QUAIS laboratórios disparam HOJE, com QUAL período de venda, e já\n// anexa os E-MAILS de cada um. A saída alimenta:\n//   1) POST {hub}/relatorios/iniciar  → { envios: [...] }\n//   2) o loop de e-mail (emailSend SMTP) por lab, usando o manifesto.\n//\n// Fonte da verdade: planilha \"ENVIO DE RELATÓRIOS - VENDAS/ESTOQUE\".\n//\n// ⚠️ DOIS PONTOS A CONFIRMAR (ver constantes abaixo):\n//   • REGRA_TIPO1: a planilha diz \"1º DIA ÚTIL\"; antes tínhamos falado\n//     \"todo dia 1º (mesmo fim de semana)\". Default aqui = 1º dia útil.\n//   • SEMANA_ANTERIOR: seg→dom (default) ou seg→sex? (Bayer/Roche)\n//\n// OBS.: o ESTOQUE não tem filtro de data — é a foto atual. A coluna\n// \"PERÍODO ESTOQUE\" da planilha só explica POR QUE se envia naquele dia\n// (rodar no 1º dia útil ≈ \"como o mês fechou\"). Por isso o robô não\n// recebe período de estoque, só o período de VENDA.\n// ══════════════════════════════════════════════════════════════\n\n// ── Config: e-mails por laboratório (lab_id casa com o Hub/LABS) ──\nconst EMAILS = {\n  bayer:        [\"operacoescomerciaisbhp@bayer.com\", \"elias.zanatta@bayer.com\", \"paula.yokomizo@bayer.com\"],\n  csl:          [\"csl@wfbconsultoria.com.br\", \"Rafael.Esteves@csl.com.au\"],\n  fresenius:    [\"jailton.silva@fresenius-kabi.com\"],\n  glaxo:        [\"alexandre.x.mitsuda@gsk.com\"],\n  organon:      [\"rodrigo.blas@organon.com\"],\n  roche:        [\"brasil.operacoescomerciais@roche.com\", \"joao.pessoa@roche.com\"],\n  sandoz_rs_sc: [\"marcelo.novelli@sandoz.com\", \"isaque.fedrigo@sandoz.com\"],\n  sandoz_sp:    [\"roger.damian@sandoz.com\"],\n  sankyo:       [\"marcio.honorati@daiichisankyo.com\", \"pedro.mota@daiichisankyo.com\", \"alexandre.jesus@daiichisankyo.com\"],\n  sun_geral:    [\"Gisele.Lemos@sunpharma.com\", \"Ana.ferreira@sunpharma.com\"],\n  sun_13082:    [\"Cecilia.Castro@sunpharma.com\", \"Edgar.Lopes@sunpharma.com\"],\n  united:       [\"leonardo.rossi@knighttx.com\"],\n};\n\nconst NOMES = {\n  bayer: \"Bayer\", csl: \"CSL\", fresenius: \"Fresenius\", glaxo: \"Glaxo\",\n  organon: \"Organon\", roche: \"Roche\", sandoz_rs_sc: \"Sandoz RS/SC\",\n  sandoz_sp: \"Sandoz SP\", sankyo: \"Sankyo\", sun_geral: \"Sun Geral\",\n  sun_13082: \"Sun Item 13082\", united: \"United\",\n};\n\n// Responsáveis internos que recebem CÓPIA OCULTA (BCC) de cada envio.\n// ⚠️ PREENCHER (ex.: a colega que gera hoje + quem monitora).\nconst RESPONSAVEIS_BCC = [];\n\n// ── MODO TESTE ──────────────────────────────────────────────────\n// Enquanto MODO_TESTE = true, NENHUM e-mail vai aos laboratórios:\n// todos os relatórios são redirecionados para EMAIL_TESTE (sem BCC).\n// Os avisos de conclusão/erro vão para EMAIL_AVISOS.\n// Para ir a PRODUÇÃO, basta trocar MODO_TESTE para false.\nconst MODO_TESTE = true;\nconst EMAIL_TESTE = \"leonardodiascaumo@gmail.com\";  // destino dos relatórios em teste\nconst EMAIL_AVISOS = \"ti6@ciamedrs.com.br\";         // avisos de conclusão/erro (robô)\nconst EMAIL_COLEGA = \"leonardodiascaumo@gmail.com\"; // colega que confere os envios (aviso por lab)\n\n// ── FORÇAR TESTE ────────────────────────────────────────────────\n// Enquanto true, ignora as regras de data e emite 1 envio fixo (Bayer,\n// mês anterior) — serve para testar o WORKFLOW INTEIRO no n8n em qualquer\n// dia. Voltar para false em produção (aí volta a respeitar o calendário).\nconst FORCAR_TESTE = false;\n\n// ── Quem dispara em cada tipo + qual a regra de período da VENDA ──\n// regra_periodo ∈ {mes_anterior, semana_anterior, mes_ate_ultima_sexta, mes_ate_ultima_quarta}\nconst TIPO1_PRIMEIRO_DIA_UTIL = [   // todos os 12, venda = todo mês anterior\n  \"bayer\", \"csl\", \"fresenius\", \"glaxo\", \"organon\", \"roche\",\n  \"sandoz_rs_sc\", \"sandoz_sp\", \"sankyo\", \"sun_geral\", \"sun_13082\", \"united\",\n];\nconst TIPO2_SEGUNDA = {\n  bayer: \"semana_anterior\", roche: \"semana_anterior\",\n  csl: \"mes_ate_ultima_sexta\", fresenius: \"mes_ate_ultima_sexta\",\n  glaxo: \"mes_ate_ultima_sexta\", sun_geral: \"mes_ate_ultima_sexta\",\n};\nconst TIPO3_QUINTA = { sun_13082: \"mes_ate_ultima_quarta\" };\n\n// ── PARÂMETROS (decididos com o Leonardo) ──\nconst REGRA_TIPO1 = \"dia_1\";        // dispara sempre no dia 1º, mesmo fim de semana\nconst SEMANA_ANTERIOR = \"seg_sex\";  // semana anterior = segunda a sexta\n\n// ────────────────────────── helpers de data ──────────────────────────\nfunction fmt(d) {\n  const dd = String(d.getDate()).padStart(2, \"0\");\n  const mm = String(d.getMonth() + 1).padStart(2, \"0\");\n  return `${dd}/${mm}/${d.getFullYear()}`;\n}\nfunction addDias(d, n) { const x = new Date(d); x.setDate(x.getDate() + n); return x; }\nfunction ehFimDeSemana(d) { const w = d.getDay(); return w === 0 || w === 6; }\n\nfunction primeiroDiaUtilDoMes(ref) {\n  let d = new Date(ref.getFullYear(), ref.getMonth(), 1);\n  while (ehFimDeSemana(d)) d = addDias(d, 1); // sem feriados, conforme combinado\n  return d;\n}\nfunction ultimoDiaSemanaAntes(ref, weekday) {\n  // weekday: 1=seg ... 5=sex, 3=qua. Retorna a ocorrência mais recente ANTES de ref.\n  let d = addDias(ref, -1);\n  while (d.getDay() !== weekday) d = addDias(d, -1);\n  return d;\n}\n\nfunction periodo(regra, hoje) {\n  if (regra === \"mes_anterior\") {\n    const ini = new Date(hoje.getFullYear(), hoje.getMonth() - 1, 1);\n    const fim = new Date(hoje.getFullYear(), hoje.getMonth(), 0); // último dia do mês anterior\n    return [ini, fim];\n  }\n  if (regra === \"semana_anterior\") {\n    // segunda desta semana → volta 7 dias = segunda passada\n    const segDestaSemana = addDias(hoje, -((hoje.getDay() + 6) % 7));\n    const segAnterior = addDias(segDestaSemana, -7);\n    const fim = SEMANA_ANTERIOR === \"seg_sex\" ? addDias(segAnterior, 4) : addDias(segAnterior, 6);\n    return [segAnterior, fim];\n  }\n  if (regra === \"mes_ate_ultima_sexta\" || regra === \"mes_ate_ultima_quarta\") {\n    const weekday = regra === \"mes_ate_ultima_sexta\" ? 5 : 3; // 5=sexta, 3=quarta\n    const dia1 = new Date(hoje.getFullYear(), hoje.getMonth(), 1);\n    const fim = ultimoDiaSemanaAntes(hoje, weekday); // ocorrência mais recente antes de hoje\n    if (fim >= dia1) return [dia1, fim];             // caso normal: 1º do mês → última sexta/quarta\n    // Borda (1ª segunda/quinta do mês, sem essa data ainda no mês vigente):\n    // usa a semana que antecede hoje = última semana do mês passado (seg → sexta/quarta).\n    const segDestaSemana = addDias(hoje, -((hoje.getDay() + 6) % 7));\n    return [addDias(segDestaSemana, -7), fim];\n  }\n  return [null, null];\n}\n\nfunction novoEnvio(lab_id, tipo, regra, hoje) {\n  const [ini, fim] = periodo(regra, hoje);\n  // Blindagem: período inválido (ex.: 1ª segunda do mês, sem sexta ainda no mês vigente).\n  const valido = ini && fim && fim >= ini;\n  return {\n    id: `${lab_id}__T${tipo}`,            // chave p/ casar o manifesto do Hub com o e-mail\n    lab_id,\n    lab_nome: NOMES[lab_id],\n    tipo,\n    regra_periodo: regra,\n    periodo_ini: valido ? fmt(ini) : \"\",\n    periodo_fim: valido ? fmt(fim) : \"\",\n    valido,\n    emails: MODO_TESTE ? [EMAIL_TESTE] : (EMAILS[lab_id] || []),\n    bcc: MODO_TESTE ? [] : RESPONSAVEIS_BCC,\n    // referência: para quem iria em produção (útil p/ conferir no teste)\n    emails_producao: EMAILS[lab_id] || [],\n  };\n}\n\n// ─────────────────────────────── main ───────────────────────────────\n// Atenção ao fuso: assume o servidor do n8n em America/Sao_Paulo.\nconst hoje = new Date();\nconst w = hoje.getDay(); // 0=Dom..6=Sab\n\nconst ehTipo1 = REGRA_TIPO1 === \"dia_1\"\n  ? hoje.getDate() === 1\n  : fmt(hoje) === fmt(primeiroDiaUtilDoMes(hoje));\nconst ehTipo2 = w === 1; // segunda\nconst ehTipo3 = w === 4; // quinta\n\nconst candidatos = [];\nif (FORCAR_TESTE) {\n  // Teste manual do workflow: 1 envio fixo, independente do dia.\n  candidatos.push(novoEnvio(\"bayer\", 1, \"mes_anterior\", hoje));\n} else {\n  if (ehTipo1) for (const lab of TIPO1_PRIMEIRO_DIA_UTIL) candidatos.push(novoEnvio(lab, 1, \"mes_anterior\", hoje));\n  if (ehTipo2) for (const [lab, regra] of Object.entries(TIPO2_SEGUNDA)) candidatos.push(novoEnvio(lab, 2, regra, hoje));\n  if (ehTipo3) for (const [lab, regra] of Object.entries(TIPO3_QUINTA)) candidatos.push(novoEnvio(lab, 3, regra, hoje));\n}\n\n// Só seguem os envios com período válido; os inválidos ficam reportados à parte.\nconst envios = candidatos.filter((e) => e.valido);\nconst ignorados = candidatos.filter((e) => !e.valido).map((e) => ({ id: e.id, motivo: \"periodo_invalido\" }));\n\nreturn [{\n  json: {\n    data_ref: fmt(hoje),\n    modo_teste: MODO_TESTE,\n    forcar_teste: FORCAR_TESTE,\n    email_avisos: EMAIL_AVISOS,\n    email_colega: EMAIL_COLEGA,\n    tem_disparo: envios.length > 0,\n    tipos: { tipo1: ehTipo1, tipo2: ehTipo2, tipo3: ehTipo3 },\n    qtd_envios: envios.length,\n    envios,\n    ignorados,\n  },\n}];\n"
      },
      "id": "Agenda",
      "name": "Agenda",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.tem_disparo }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "Tem disparo?",
      "name": "Tem disparo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        560,
        480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "tipo",
              "value": 1,
              "type": "number"
            },
            {
              "id": "a2",
              "name": "envios",
              "value": "={{ $json.envios }}",
              "type": "array"
            },
            {
              "id": "a3",
              "name": "email_avisos",
              "value": "={{ $json.email_avisos }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "Payload do robô",
      "name": "Payload do robô",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/relatorios/fila/entrar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"resume_url\": $execution.resumeUrl } }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Hub-Token",
              "value": "TROQUE_PELO_N8N_HUB_TOKEN"
            }
          ]
        }
      },
      "id": "Fila Entrar",
      "name": "Fila Entrar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        480
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "Vez na fila",
      "name": "Vez na fila",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1420,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/relatorios/iniciar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tipo\": $(\"Payload do robô\").item.json.tipo, \"envios\": $(\"Payload do robô\").item.json.envios } }}",
        "options": {
          "timeout": 600000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Hub-Token",
              "value": "TROQUE_PELO_N8N_HUB_TOKEN"
            }
          ]
        }
      },
      "id": "Iniciar Robo",
      "name": "Iniciar Robo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/relatorios/fila/liberar_proximo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Hub-Token",
              "value": "TROQUE_PELO_N8N_HUB_TOKEN"
            }
          ]
        }
      },
      "id": "Fila Liberar",
      "name": "Fila Liberar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $(\"Iniciar Robo\").item.json.status }}",
              "rightValue": "sucesso",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "Robô OK?",
      "name": "Robô OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2260,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════════════\n// preparar_envios.js — Code node do n8n (pós /relatorios/iniciar)\n// ──────────────────────────────────────────────────────────────\n// Junta o MANIFESTO do robô (itens: id, lab_id, arquivos) com os\n// ENVIOS da agenda (emails, período) pelo campo \"id\". Produz UM item\n// por laboratório, pronto para o loop de download + emailSend.\n//\n// Requisitos de nomes dos nós (ajuste se os seus tiverem outro nome):\n//   • \"Agenda\"      → Code node agenda_relatorios.js\n//   • \"Iniciar Robo\"→ HTTP Request que chamou POST /relatorios/iniciar\n//\n// Saída (1 item por lab):\n//   { id, lab_id, lab_nome, to, bcc, subject, exec, arquivos: [...] }\n//   → o exec + cada \"arquivo\" alimentam GET /relatorios/download\n// ══════════════════════════════════════════════════════════════\n\nconst agenda = $('Agenda').first().json;\nconst resp = $('Iniciar Robo').first().json || {};\nconst manifesto = resp.resultado || {};\nconst itens = manifesto.itens || [];\nconst exec = manifesto.exec || '';\n\n// Indexa os envios da agenda por id (para pegar emails/período de cada lab).\nconst porId = {};\nfor (const e of (agenda.envios || [])) porId[e.id] = e;\n\nconst saida = [];\nfor (const it of itens) {\n  const env = porId[it.id] || {};\n  const periodo = env.periodo_ini\n    ? `${env.periodo_ini} a ${env.periodo_fim}`\n    : 'estoque atual';\n  saida.push({\n    json: {\n      id: it.id,\n      lab_id: it.lab_id,\n      lab_nome: it.nome || env.lab_nome || it.lab_id,\n      to: (env.emails || []).join('; '),\n      bcc: (env.bcc || []).join('; '),\n      subject: `Relatório Vendas/Estoque — ${it.nome || env.lab_nome || it.lab_id} (${periodo})`,\n      exec,\n      arquivos: it.arquivos || [],\n    },\n  });\n}\n\nreturn saida;\n"
      },
      "id": "Preparar Envios",
      "name": "Preparar Envios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════════════\n// explodir_arquivos.js — Code node do n8n (antes do Download)\n// ──────────────────────────────────────────────────────────────\n// Recebe 1 item por laboratório (de \"Preparar Envios\") e emite 1 item\n// por ARQUIVO, carregando os metadados do e-mail. Cada item alimenta o\n// HTTP \"Download\": GET /relatorios/download?exec=<exec>&arquivo=<arquivo>\n// ══════════════════════════════════════════════════════════════\n\nconst saida = [];\nfor (const it of $input.all()) {\n  const j = it.json;\n  for (let idx = 0; idx < (j.arquivos || []).length; idx++) {\n    saida.push({\n      json: {\n        lab_id: j.lab_id,\n        lab_nome: j.lab_nome,\n        id: j.id,\n        to: j.to,\n        bcc: j.bcc,\n        subject: j.subject,\n        exec: j.exec,\n        arquivo: j.arquivos[idx],\n        idx,\n      },\n    });\n  }\n}\nreturn saida;\n"
      },
      "id": "Arquivos do lab",
      "name": "Arquivos do lab",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        480
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:5000/relatorios/download",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "exec",
              "value": "={{ $json.exec }}"
            },
            {
              "name": "arquivo",
              "value": "={{ $json.arquivo }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Hub-Token",
              "value": "TROQUE_PELO_N8N_HUB_TOKEN"
            }
          ]
        }
      },
      "id": "Download",
      "name": "Download",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════════════\n// juntar_binarios.js — Code node do n8n (depois do Download)\n// ──────────────────────────────────────────────────────────────\n// Reagrupa os arquivos baixados por laboratório: junta todos os\n// binários de um mesmo lab num ÚNICO item, para o emailSend mandar\n// um e-mail por lab com TODOS os anexos.\n//\n// Pareia cada download (na ordem) com o item correspondente do nó\n// \"Arquivos do lab\" (Split Out) — n8n preserva ordem e contagem. Assim os\n// metadados (to/bcc/subject) não dependem do HTTP repassar o json.\n// (Se você usar o atalho com o Code \"Explodir Arquivos\", troque o nome abaixo.)\n//\n// No emailSend, configure o campo \"Attachments\" com a expressão:\n//   {{ Object.keys($binary).join(',') }}\n// para anexar dinamicamente todos os binários do item.\n// ══════════════════════════════════════════════════════════════\n\n// ⚠️ Trocar pela URL PÚBLICA da logo (precisa ser acessível pela internet,\n// pois quem abre o e-mail está fora da rede). Ex.: logo no site da empresa.\nconst LOGO_URL = \"https://SUA-LOGO-PUBLICA-AQUI/logo.png\";\n\nfunction montarHtml(g) {\n  const itens = (g.arquivos || [])\n    .map((a) => `<li style=\"margin:2px 0;\">${a}</li>`)\n    .join(\"\");\n  return `<!doctype html>\n<html><body style=\"margin:0;padding:0;background:#f4f6f8;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#333;\">\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f4f6f8;padding:24px 0;\">\n    <tr><td align=\"center\">\n      <table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:8px;overflow:hidden;border:1px solid #e6e9ec;\">\n        <tr><td align=\"center\" style=\"background:#00B3B2;padding:20px 24px;\">\n          <img src=\"${LOGO_URL}\" alt=\"Ciamed\" height=\"48\" style=\"display:block;border:0;\">\n        </td></tr>\n        <tr><td style=\"padding:28px 24px 8px;\">\n          <h2 style=\"margin:0 0 12px;font-size:18px;color:#00B3B2;\">Relatório de Vendas / Estoque</h2>\n          <p style=\"margin:0 0 12px;font-size:14px;line-height:1.5;\">Prezados(as),</p>\n          <p style=\"margin:0 0 16px;font-size:14px;line-height:1.5;\">\n            Segue em anexo o relatório referente a <strong>${g.lab_nome}</strong>.\n          </p>\n          <p style=\"margin:0 0 6px;font-size:13px;color:#6E6E6E;\">Arquivos anexados:</p>\n          <ul style=\"margin:0 0 16px;padding-left:20px;font-size:13px;color:#444;\">${itens}</ul>\n        </td></tr>\n        <tr><td style=\"padding:16px 24px 24px;border-top:1px solid #eee;\">\n          <p style=\"margin:0;font-size:12px;color:#8A8A8A;line-height:1.5;\">\n            Mensagem automática do Hub de Automações — Ciamed.<br>\n            Por favor, não responda a este e-mail.\n          </p>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body></html>`;\n}\n\nconst downloads = $input.all();\nconst explodidos = $('Arquivos do lab').all();\n\nconst grupos = {};\nfor (let i = 0; i < downloads.length; i++) {\n  const meta = explodidos[i].json;\n  const labId = meta.lab_id;\n\n  if (!grupos[labId]) {\n    grupos[labId] = {\n      json: {\n        lab_id: labId,\n        lab_nome: meta.lab_nome,\n        to: meta.to,\n        bcc: meta.bcc,\n        subject: meta.subject,\n        arquivos: [],\n      },\n      binary: {},\n    };\n  }\n\n  const g = grupos[labId];\n  const bin = downloads[i].binary || {};\n  for (const k of Object.keys(bin)) {\n    const nome = `anexo_${Object.keys(g.binary).length}`;\n    g.binary[nome] = bin[k];\n    g.json.arquivos.push(meta.arquivo);\n  }\n}\n\n// Monta o corpo HTML (com a lista de anexos completa) para cada lab.\nconst saida = Object.values(grupos);\nfor (const g of saida) {\n  g.json.html = montarHtml(g.json);\n}\nreturn saida;\n"
      },
      "id": "Juntar Binários",
      "name": "Juntar Binários",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3400,
        480
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.lab_id }}",
                    "rightValue": "bayer",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bayer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.lab_id }}",
                    "rightValue": "csl",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CSL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.lab_id }}",
                    "rightValue": "fresenius",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fresenius"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.lab_id }}",
                    "rightValue": "glaxo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Glaxo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.lab_id }}",
                    "rightValue": "organon",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Organon"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.lab_id }}",
                    "rightValue": "roche",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Roche"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.lab_id }}",
                    "rightValue": "sandoz_rs_sc",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sandoz RS-SC"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.lab_id }}",
                    "rightValue": "sandoz_sp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sandoz SP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.lab_id }}",
                    "rightValue": "sankyo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sankyo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.lab_id }}",
                    "rightValue": "sun_geral",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sun Geral"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.lab_id }}",
                    "rightValue": "sun_13082",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sun 13082"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.lab_id }}",
                    "rightValue": "united",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "United"
            }
          ]
        },
        "options": {}
      },
      "id": "Rotear por lab",
      "name": "Rotear por lab",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3700,
        480
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "bccList": "={{ $json.bcc }}",
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ Object.keys($binary).join(',') }}"
              }
            ]
          },
          "appendAttribution": false
        }
      },
      "id": "Gmail: Bayer",
      "name": "Gmail: Bayer",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4040,
        140
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $(\"Agenda\").first().json.email_colega }}",
        "subject": "={{ $json.error ? '[FALHA] ' : '[OK] ' }}Relatório — Bayer",
        "emailType": "text",
        "message": "={{ $json.error ? ('❌ Erro ao enviar o relatório de Bayer: ' + ($json.error.message || JSON.stringify($json.error))) : '✅ Relatório de Bayer enviado com sucesso aos destinatários.' }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "Aviso: Bayer",
      "name": "Aviso: Bayer",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4380,
        140
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "bccList": "={{ $json.bcc }}",
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ Object.keys($binary).join(',') }}"
              }
            ]
          },
          "appendAttribution": false
        }
      },
      "id": "Gmail: CSL",
      "name": "Gmail: CSL",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4040,
        290
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $(\"Agenda\").first().json.email_colega }}",
        "subject": "={{ $json.error ? '[FALHA] ' : '[OK] ' }}Relatório — CSL",
        "emailType": "text",
        "message": "={{ $json.error ? ('❌ Erro ao enviar o relatório de CSL: ' + ($json.error.message || JSON.stringify($json.error))) : '✅ Relatório de CSL enviado com sucesso aos destinatários.' }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "Aviso: CSL",
      "name": "Aviso: CSL",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4380,
        290
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "bccList": "={{ $json.bcc }}",
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ Object.keys($binary).join(',') }}"
              }
            ]
          },
          "appendAttribution": false
        }
      },
      "id": "Gmail: Fresenius",
      "name": "Gmail: Fresenius",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4040,
        440
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $(\"Agenda\").first().json.email_colega }}",
        "subject": "={{ $json.error ? '[FALHA] ' : '[OK] ' }}Relatório — Fresenius",
        "emailType": "text",
        "message": "={{ $json.error ? ('❌ Erro ao enviar o relatório de Fresenius: ' + ($json.error.message || JSON.stringify($json.error))) : '✅ Relatório de Fresenius enviado com sucesso aos destinatários.' }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "Aviso: Fresenius",
      "name": "Aviso: Fresenius",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4380,
        440
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "bccList": "={{ $json.bcc }}",
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ Object.keys($binary).join(',') }}"
              }
            ]
          },
          "appendAttribution": false
        }
      },
      "id": "Gmail: Glaxo",
      "name": "Gmail: Glaxo",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4040,
        590
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $(\"Agenda\").first().json.email_colega }}",
        "subject": "={{ $json.error ? '[FALHA] ' : '[OK] ' }}Relatório — Glaxo",
        "emailType": "text",
        "message": "={{ $json.error ? ('❌ Erro ao enviar o relatório de Glaxo: ' + ($json.error.message || JSON.stringify($json.error))) : '✅ Relatório de Glaxo enviado com sucesso aos destinatários.' }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "Aviso: Glaxo",
      "name": "Aviso: Glaxo",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4380,
        590
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "bccList": "={{ $json.bcc }}",
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ Object.keys($binary).join(',') }}"
              }
            ]
          },
          "appendAttribution": false
        }
      },
      "id": "Gmail: Organon",
      "name": "Gmail: Organon",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4040,
        740
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $(\"Agenda\").first().json.email_colega }}",
        "subject": "={{ $json.error ? '[FALHA] ' : '[OK] ' }}Relatório — Organon",
        "emailType": "text",
        "message": "={{ $json.error ? ('❌ Erro ao enviar o relatório de Organon: ' + ($json.error.message || JSON.stringify($json.error))) : '✅ Relatório de Organon enviado com sucesso aos destinatários.' }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "Aviso: Organon",
      "name": "Aviso: Organon",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4380,
        740
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "bccList": "={{ $json.bcc }}",
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ Object.keys($binary).join(',') }}"
              }
            ]
          },
          "appendAttribution": false
        }
      },
      "id": "Gmail: Roche",
      "name": "Gmail: Roche",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4040,
        890
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $(\"Agenda\").first().json.email_colega }}",
        "subject": "={{ $json.error ? '[FALHA] ' : '[OK] ' }}Relatório — Roche",
        "emailType": "text",
        "message": "={{ $json.error ? ('❌ Erro ao enviar o relatório de Roche: ' + ($json.error.message || JSON.stringify($json.error))) : '✅ Relatório de Roche enviado com sucesso aos destinatários.' }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "Aviso: Roche",
      "name": "Aviso: Roche",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4380,
        890
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "bccList": "={{ $json.bcc }}",
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ Object.keys($binary).join(',') }}"
              }
            ]
          },
          "appendAttribution": false
        }
      },
      "id": "Gmail: Sandoz RS-SC",
      "name": "Gmail: Sandoz RS-SC",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4040,
        1040
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $(\"Agenda\").first().json.email_colega }}",
        "subject": "={{ $json.error ? '[FALHA] ' : '[OK] ' }}Relatório — Sandoz RS-SC",
        "emailType": "text",
        "message": "={{ $json.error ? ('❌ Erro ao enviar o relatório de Sandoz RS-SC: ' + ($json.error.message || JSON.stringify($json.error))) : '✅ Relatório de Sandoz RS-SC enviado com sucesso aos destinatários.' }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "Aviso: Sandoz RS-SC",
      "name": "Aviso: Sandoz RS-SC",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4380,
        1040
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "bccList": "={{ $json.bcc }}",
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ Object.keys($binary).join(',') }}"
              }
            ]
          },
          "appendAttribution": false
        }
      },
      "id": "Gmail: Sandoz SP",
      "name": "Gmail: Sandoz SP",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4040,
        1190
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $(\"Agenda\").first().json.email_colega }}",
        "subject": "={{ $json.error ? '[FALHA] ' : '[OK] ' }}Relatório — Sandoz SP",
        "emailType": "text",
        "message": "={{ $json.error ? ('❌ Erro ao enviar o relatório de Sandoz SP: ' + ($json.error.message || JSON.stringify($json.error))) : '✅ Relatório de Sandoz SP enviado com sucesso aos destinatários.' }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "Aviso: Sandoz SP",
      "name": "Aviso: Sandoz SP",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4380,
        1190
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "bccList": "={{ $json.bcc }}",
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ Object.keys($binary).join(',') }}"
              }
            ]
          },
          "appendAttribution": false
        }
      },
      "id": "Gmail: Sankyo",
      "name": "Gmail: Sankyo",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4040,
        1340
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $(\"Agenda\").first().json.email_colega }}",
        "subject": "={{ $json.error ? '[FALHA] ' : '[OK] ' }}Relatório — Sankyo",
        "emailType": "text",
        "message": "={{ $json.error ? ('❌ Erro ao enviar o relatório de Sankyo: ' + ($json.error.message || JSON.stringify($json.error))) : '✅ Relatório de Sankyo enviado com sucesso aos destinatários.' }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "Aviso: Sankyo",
      "name": "Aviso: Sankyo",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4380,
        1340
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "bccList": "={{ $json.bcc }}",
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ Object.keys($binary).join(',') }}"
              }
            ]
          },
          "appendAttribution": false
        }
      },
      "id": "Gmail: Sun Geral",
      "name": "Gmail: Sun Geral",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4040,
        1490
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $(\"Agenda\").first().json.email_colega }}",
        "subject": "={{ $json.error ? '[FALHA] ' : '[OK] ' }}Relatório — Sun Geral",
        "emailType": "text",
        "message": "={{ $json.error ? ('❌ Erro ao enviar o relatório de Sun Geral: ' + ($json.error.message || JSON.stringify($json.error))) : '✅ Relatório de Sun Geral enviado com sucesso aos destinatários.' }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "Aviso: Sun Geral",
      "name": "Aviso: Sun Geral",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4380,
        1490
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "bccList": "={{ $json.bcc }}",
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ Object.keys($binary).join(',') }}"
              }
            ]
          },
          "appendAttribution": false
        }
      },
      "id": "Gmail: Sun 13082",
      "name": "Gmail: Sun 13082",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4040,
        1640
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $(\"Agenda\").first().json.email_colega }}",
        "subject": "={{ $json.error ? '[FALHA] ' : '[OK] ' }}Relatório — Sun 13082",
        "emailType": "text",
        "message": "={{ $json.error ? ('❌ Erro ao enviar o relatório de Sun 13082: ' + ($json.error.message || JSON.stringify($json.error))) : '✅ Relatório de Sun 13082 enviado com sucesso aos destinatários.' }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "Aviso: Sun 13082",
      "name": "Aviso: Sun 13082",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4380,
        1640
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "bccList": "={{ $json.bcc }}",
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ Object.keys($binary).join(',') }}"
              }
            ]
          },
          "appendAttribution": false
        }
      },
      "id": "Gmail: United",
      "name": "Gmail: United",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4040,
        1790
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $(\"Agenda\").first().json.email_colega }}",
        "subject": "={{ $json.error ? '[FALHA] ' : '[OK] ' }}Relatório — United",
        "emailType": "text",
        "message": "={{ $json.error ? ('❌ Erro ao enviar o relatório de United: ' + ($json.error.message || JSON.stringify($json.error))) : '✅ Relatório de United enviado com sucesso aos destinatários.' }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "Aviso: United",
      "name": "Aviso: United",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4380,
        1790
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $(\"Agenda\").first().json.email_avisos }}",
        "subject": "=⚠️ Robô de relatórios falhou — {{ $(\"Agenda\").first().json.data_ref }}",
        "emailType": "text",
        "message": "={{ JSON.stringify($(\"Iniciar Robo\").item.json.resultado || $(\"Iniciar Robo\").item.json, null, 2) }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "Avisos (erro)",
      "name": "Avisos (erro)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2260,
        800
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "# 📊 Relatórios aos Laboratórios\nAgenda decide os labs do dia → robô do Hub gera os relatórios → e-mail por laboratório (com aviso à colega).\n\n⚙️ **Ajustes ficam na Agenda:** `MODO_TESTE` · `FORCAR_TESTE` · `EMAIL_COLEGA` · `EMAIL_AVISOS`.\n🔑 Nos 4 HTTP: trocar a **URL do Hub** e o **X-Hub-Token**.",
        "height": 150,
        "width": 920,
        "color": 7
      },
      "id": "nota_titulo",
      "name": "nota_titulo",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        250
      ]
    },
    {
      "parameters": {
        "content": "## 1 · Decisão\n**Schedule** ~06:30 → **Agenda** (regras: quais labs e períodos hoje) → **Tem disparo?** só segue se houver envio.",
        "height": 240,
        "width": 880,
        "color": 5
      },
      "id": "nota_b1",
      "name": "nota_b1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        420
      ]
    },
    {
      "parameters": {
        "content": "## 2 · Roda o robô (fila + Wait)\nEntra na fila → **Wait** acorda quando é a vez (igual ao Cadastro) → **Iniciar Robo** gera os relatórios e devolve o manifesto → **libera** a fila.\n**Robô OK?** separa sucesso × erro.",
        "height": 240,
        "width": 1660,
        "color": 4
      },
      "id": "nota_b2",
      "name": "nota_b2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        820,
        420
      ]
    },
    {
      "parameters": {
        "content": "## 3 · Monta os e-mails\nCasa manifesto × e-mails (**Preparar**), 1 item por arquivo (**Arquivos do lab**), **baixa** cada um e **junta** os anexos + HTML por lab.",
        "height": 240,
        "width": 1100,
        "color": 3
      },
      "id": "nota_b3",
      "name": "nota_b3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2520,
        420
      ]
    },
    {
      "parameters": {
        "content": "## 4 · Envio por laboratório\n**Switch** roteia por `lab_id`.\n\nCada **Gmail: <lab>** envia (HTML + anexos). Tem 2 saídas: ✅ sucesso e ❌ erro (*On Error: Continue*).\n\nCada **Aviso: <lab>** avisa a colega (`email_colega`): `[OK]` enviado ou `[FALHA]` com o motivo.",
        "height": 1900,
        "width": 940,
        "color": 6
      },
      "id": "nota_b4",
      "name": "nota_b4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3660,
        60
      ]
    },
    {
      "parameters": {
        "content": "## 5 · Erro do robô\nSe o robô falhar (não gerou nada), avisa a TI (`email_avisos`) com o detalhe.",
        "height": 220,
        "width": 420,
        "color": 2
      },
      "id": "nota_b5",
      "name": "nota_b5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2180,
        720
      ]
    }
  ],
  "connections": {
    "Schedule 06:30": {
      "main": [
        [
          {
            "node": "Agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agenda": {
      "main": [
        [
          {
            "node": "Tem disparo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem disparo?": {
      "main": [
        [
          {
            "node": "Payload do robô",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload do robô": {
      "main": [
        [
          {
            "node": "Fila Entrar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fila Entrar": {
      "main": [
        [
          {
            "node": "Vez na fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vez na fila": {
      "main": [
        [
          {
            "node": "Iniciar Robo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iniciar Robo": {
      "main": [
        [
          {
            "node": "Fila Liberar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fila Liberar": {
      "main": [
        [
          {
            "node": "Robô OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Robô OK?": {
      "main": [
        [
          {
            "node": "Preparar Envios",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avisos (erro)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Envios": {
      "main": [
        [
          {
            "node": "Arquivos do lab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arquivos do lab": {
      "main": [
        [
          {
            "node": "Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download": {
      "main": [
        [
          {
            "node": "Juntar Binários",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juntar Binários": {
      "main": [
        [
          {
            "node": "Rotear por lab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotear por lab": {
      "main": [
        [
          {
            "node": "Gmail: Bayer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail: CSL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail: Fresenius",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail: Glaxo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail: Organon",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail: Roche",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail: Sandoz RS-SC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail: Sandoz SP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail: Sankyo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail: Sun Geral",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail: Sun 13082",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail: United",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Bayer": {
      "main": [
        [
          {
            "node": "Aviso: Bayer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso: Bayer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: CSL": {
      "main": [
        [
          {
            "node": "Aviso: CSL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso: CSL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Fresenius": {
      "main": [
        [
          {
            "node": "Aviso: Fresenius",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso: Fresenius",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Glaxo": {
      "main": [
        [
          {
            "node": "Aviso: Glaxo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso: Glaxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Organon": {
      "main": [
        [
          {
            "node": "Aviso: Organon",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso: Organon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Roche": {
      "main": [
        [
          {
            "node": "Aviso: Roche",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso: Roche",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Sandoz RS-SC": {
      "main": [
        [
          {
            "node": "Aviso: Sandoz RS-SC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso: Sandoz RS-SC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Sandoz SP": {
      "main": [
        [
          {
            "node": "Aviso: Sandoz SP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso: Sandoz SP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Sankyo": {
      "main": [
        [
          {
            "node": "Aviso: Sankyo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso: Sankyo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Sun Geral": {
      "main": [
        [
          {
            "node": "Aviso: Sun Geral",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso: Sun Geral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Sun 13082": {
      "main": [
        [
          {
            "node": "Aviso: Sun 13082",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso: Sun 13082",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: United": {
      "main": [
        [
          {
            "node": "Aviso: United",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso: United",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}